# # ======================================================
# DATABASE CONFIGURATION
# ======================================================
# Optional if you run database using Docker (see docker-compose)
# Otherwise configure your own MySQL connection

DATASOURCE_URL=jdbc:mysql://localhost:3307/motel_manager_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DATASOURCE_USERNAME=user
DATASOURCE_PASSWORD=password


# ======================================================
# REDIS CONFIGURATION
# ======================================================
# Optional if Redis is provided by Docker

REDIS_HOST=localhost
REDIS_PORT=6379


# ======================================================
# JWT CONFIGURATION
# ======================================================
# Generate a strong random key for production and store it securely

JWT_SECRET=your_random_secret_key_here_generate_a_secure_key_for_usage


# ======================================================
# SMS PROVIDER CONFIGURATION
# ======================================================
# Supported providers:
# - test (prints SMS to console, for development)
# - infobip

SMS_PROVIDER=test
# If you choose infobip, configure the following:
INFOSBIP_API_KEY=your_infobip_api_key_here
INFOSBIP_API_SECRET=your_infobip_api_secret_here



# ======================================================
# TWILIO CONFIGURATION (used when SMS_PROVIDER=twilio)
# ======================================================

TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number